/* universal */
* {
    margin: 0 0;
}

/* common setup */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin: auto;
}

.clr {
    color: #E55473;
}


/* banner section */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-content {
    margin-left: 240px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    width: 708px;
}

.p-banner {
    width: 634px;
    margin: 30px 0px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner .banner-image {
    position: relative;
    margin-right: 240px;
}

/* Our Featured Flowers */

.featured-section {
    padding: 180px 240px;
}



.featured-images {
    width: 464px;
    height: 538px;
    display: flex;
}

.featured-image1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
}

.featured-image2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-image3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}


/* sale section */
.sale {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 215px;
    padding: 100px 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}


/* insta section */


.insta-section {
    padding: 130px 240px;
}

.insta-images {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
    margin-top: 30px;
}

.insta-image {}


/* subscriber-section */
.subscribe {
    width: 60%;
    margin: auto;
    background-image: url("Flower\ Asset/Rectangle 9.png");
    width: 1440px;
    height: 449px;
}

.sub-sec {
    padding: 122px 290px;
}

.sub-sec input {
    border-style: none;
    border-radius: 8px;
    width: 600px;
    height: 60px;
    text-align: left;
    padding-left: 22px;
    margin-top: 50px;
    margin-right: 15px;
}


/* footer */
.ftr {
    text-align: center;
    background-color: black;
    padding: 128px 0;
    margin-top: 130px;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    width: 625px;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
}

.small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

p {
    margin-top: 30px;
}