/* universal */
* {
    margin: 0 0;
}

/* common setup */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.clr {
    color: #E55473;
}


/* banner section */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-content {
    margin-left: 240px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    width: 708px;
}

.p-banner {
    width: 634px;
    margin: 30px 0px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner .banner-image {
    position: relative;
    margin-right: 240px;
}

/* Our Featured Flowers */

.featured-section {}

.Featured-content {}

.featured-images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.featured-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

/* footer */
.ftr {
    width: 100vw;
    text-align: center;
    background-color: black;
    padding: 128px 0;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    width: 625px;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
}

.small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

p {
    margin-top: 30px;
}